.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-container {
  margin-top: 110px;
}

.valores {
  padding: 40px 20px;
  text-align: center;
}

.quienes-somos-section {
  padding: 40px 20px;
  text-align: center;
}

.contigo-card {
  transition: transform 0.3s ease;
  height: 250px;
}

.contigo-card:hover {
  transform: scale(1.05);
}

.contigo-img {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contigo-img img {
  max-height: 50%;
  object-fit: contain;
}
