/* Estilos generales del swiper */
.mySwiper {
  width: 100%;
}

/* Estilos de cada diapositiva del swiper */
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Estilos de la imagen dentro de cada diapositiva */
.mySwiper img {
  width: 100%;
  object-fit: cover!important;
}

/* Estilos responsivos para ajustar la altura del swiper en diferentes tamaños de pantalla */
@media only screen and (max-width: 768px) {
  .mySwiper {
    height: 80vh; /* Ajusta según sea necesario */
  }
}

@media only screen and (max-width: 576px) {
  .mySwiper {
    height: 40vh; /* Ajusta según sea necesario */
  }
}
