/* General Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-logo {
  margin-left: 10px;
}

.navbar-logo img {
  width: 100px;
}

.menu-list {
  display: flex;
  gap: 20px;
}

.frame {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #484c52;
}

.li-mobile-p {
  margin-left: 8px;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger i {
  font-size: 28px;
}

/* Mobile Menu */
@media (max-width: 768px) {
  .menu-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .menu-list.active {
    display: flex;
  }

  .hamburger {
    display: block;
    margin-right: 20px;
  }

  .frame {
    padding: 10px 0;
    width: 100%;
    justify-content: center;
  }

  .li-mobile-p {
    display: inline;
    font-size: 16px;
    color: #484c52;
  }
}

/* Tablet & Larger Screens */
@media (min-width: 768px) {
  .menu-list {
    flex-direction: row;
    display: flex;
    position: static;
    background: none;
    box-shadow: none;
  }

  .hamburger {
    display: none;
  }

  .frame:hover {
    background-color: #f0f0f0;
    border-radius: 8px;
  }
}
